[Unit]
Description=Simple Blog
After=network.target

[Service]
Restart=always
Environment=HOME=/var/www/sblog PWD=/var/www/sblog
User=root
LimitNOFILE=32768
ExecStart=/var/www/sblog/dist/build/sblog/sblog /var/www/sblog/application.conf.pro

[Install]
WantedBy=multi-user.target
