<script src="/assets/ace/js/ace-extra.min.js"></script>
<script src="/assets/ace/components/jquery/dist/jquery.min.js"></script>
<script src="/assets/ace/components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/ace/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/ace/components/_mod/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="/assets/ace/components/select2/dist/js/select2.full.min.js"></script>
<script src="/assets/ace/components/select2/dist/js/i18n/zh-CN.js"></script>
<script src="/assets/ace/components/jqGrid/js/jquery.jqGrid.js"></script>
<script src="/assets/ace/components/jqGrid/js/i18n/grid.locale-cn.js"></script>
<script src="/assets/ace//components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/ace/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
<script src="/assets/ace/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="/assets/ace/components/_mod/easypiechart/jquery.easypiechart.js"></script>
<script src="/assets/ace/components/jquery.sparkline/index.js"></script>
<script src="/assets/ace/components/Flot/jquery.flot.js"></script>
<script src="/assets/ace/components/Flot/jquery.flot.pie.js"></script>
<script src="/assets/ace/components/Flot/jquery.flot.resize.js"></script>
<script src="/assets/ace/js/ace-elements.min.js"></script>
<script src="/assets/ace/js/ace.min.js"></script>
<script src="/bower_components/toastr/toastr.min.js"></script>