<div class="row">
  <div class="col-md-5 col-md-offset-2 col-xs-12">
    <div class="search-results">
      {{# entries}}
        <div class="search-result">
          <h4 class="search-title">
            <a href="{{link}}">{{title}}</a>
          </h4>
        <div class="search-content">
          <p>
            {{# tags}}
              <a href="{{link}}"
                <span class="{{theClass}}">{{title}}</span>
              </a>
            {{/ tags}}
          </p>
          {{# summary}}
            {{summary}}
          {{/ summary}}
        </div>
      </div>
      {{/ entries}}
    </div>
    {{{pagination}}}
  </div>
  <div class="col-md-3 col-xs-12">
    {{> common/_tag_sidebar.html}}
  </div>
</div>
