<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <div class="search-results">
      {{# results}}
        <div class="search-result">
          <h5 class="search-title">
            <a href={{link}}>{{title}}</a>
          </h5>
        <div class="search-content">
          <p>
            {{# tags}}
              <a href={{link}}
                <span class={{class}}>{{title}}</span>
              </a>
            {{/ tags}}
          </p>
          {{# summary}}
            {{summary}}
          {{/ summary}}
        </div>
      </div>
      {{/ results}}
    </div>
    {{{pagination}}}
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    {{> common/_tag_sidebar.html}}
  </div>
</div>
